/target/
/.idea/
/summary-generator-service/target/classes/com/memoritta/summarizer/summary/generator/client/ChatClient.class
/summary-generator-service/target/classes/com/memoritta/summarizer/summary/generator/client/SummaryGenerator.class
/summary-generator-service/target/classes/com/memoritta/summarizer/summary/generator/config/Config.class
/summary-generator-service/target/classes/com/memoritta/summarizer/summary/generator/controller/CreateSummaryController.class
/summary-generator-service/target/classes/com/memoritta/summarizer/summary/generator/db/DiscussionsProvider.class
/summary-generator-service/target/classes/com/memoritta/summarizer/summary/generator/db/DiscussionsRepository.class
/summary-generator-service/target/classes/com/memoritta/summarizer/summary/generator/Application.class
/summary-generator-service/target/classes/application.yml
/summary-generator-service/target/maven-archiver/pom.properties
/summary-generator-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/summary-generator-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/summary-generator-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/summary-generator-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/summary-generator-service/target/summary-generator-service-1.0-SNAPSHOT.jar
/summary-generator-service/target/summary-generator-service-1.0-SNAPSHOT.jar.original
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/client/ResetChannelClient.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/client/SummaryGeneratorClient.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/client/TextMessageRecorderClient.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/config/DiscordConfig.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/config/ServerConfig.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/config/WebClientConfiguration.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/controller/DiscordBotController.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/listeners/SummaryGeneratorListener.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/listeners/TextMessageRecordListener.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/utils/CommandsUtils.class
/discord-bot-summary-generator/target/classes/com/memoritta/summarizer/bot/discord/Application.class
/discord-bot-summary-generator/target/classes/application.properties
/discord-bot-summary-generator/target/classes/application.yml
/discord-bot-summary-generator/target/maven-archiver/pom.properties
/discord-bot-summary-generator/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/discord-bot-summary-generator/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/discord-bot-summary-generator/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/discord-bot-summary-generator/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/discord-bot-summary-generator/target/discord-bot-summary-generator-1.0-SNAPSHOT.jar
/discord-bot-summary-generator/target/discord-bot-summary-generator-1.0-SNAPSHOT.jar.original
/discussion-collector-service/target/classes/com/memoritta/summarizer/discussion/collector/db/DiscussionsProvider.class
/discussion-collector-service/target/classes/com/memoritta/summarizer/discussion/collector/db/DiscussionsRepository.class
/discussion-collector-service/target/classes/com/memoritta/summarizer/discussion/collector/Application.class
/discussion-collector-service/target/classes/application.yml
/discussion-collector-service/target/maven-archiver/pom.properties
/discussion-collector-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/discussion-collector-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/discussion-collector-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/discussion-collector-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/discussion-collector-service/target/discussion-collector-service-1.0-SNAPSHOT.jar
/discussion-collector-service/target/discussion-collector-service-1.0-SNAPSHOT.jar.original
/domain/target/classes/com/memoritta/summarizer/domain/Discussion$User.class
/domain/target/classes/com/memoritta/summarizer/domain/Discussion.class
/domain/target/maven-archiver/pom.properties
/domain/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/domain/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/domain/target/domain-1.0-SNAPSHOT.jar
