/target/
/.idea/
/summary-generator-service/target/
/discord-bot-summary-generator/target/
/discussion-collector-service/target/
/domain/target/
/configuration-manager-service/.idea/.gitignore
/configuration-manager-service/.idea/compiler.xml
/configuration-manager-service/.idea/encodings.xml
/configuration-manager-service/.idea/jarRepositories.xml
/configuration-manager-service/.idea/jpa-buddy.xml
/configuration-manager-service/.idea/misc.xml
/configuration-manager-service/.idea/uiDesigner.xml
/configuration-manager-service/.idea/vcs.xml
/configuration-manager-service/target/classes/com/memoritta/summarizer/configuration/manager/controller/ConfigurationManagerController.class
/configuration-manager-service/target/classes/com/memoritta/summarizer/configuration/manager/db/ConfigurationRepository.class
/configuration-manager-service/target/classes/com/memoritta/summarizer/configuration/manager/Application.class
/configuration-manager-service/target/classes/com/memoritta/summarizer/discussion/collector/db/DiscussionsProvider.class
/configuration-manager-service/target/classes/com/memoritta/summarizer/discussion/collector/db/DiscussionsRepository.class
/configuration-manager-service/target/classes/application.yml
/configuration-manager-service/target/maven-archiver/pom.properties
/configuration-manager-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/configuration-manager-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/configuration-manager-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/configuration-manager-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/configuration-manager-service/target/discussion-collector-service-1.0-SNAPSHOT.jar
/configuration-manager-service/target/discussion-collector-service-1.0-SNAPSHOT.jar.original
